<section class="about">
    <div class="w-full flex">
        <div class="absolute flex flex-col gap-2 overflow-hidden text-ellipsis text-justify w-[400px] h-[400px] py-2 pl-5 mt-[60px] left-[51%] justify-between">
            <h2 class="text-2xl font-bold leading-tight">CHEGA MAIS,<br>TEM MUITA COISA<br>BOA ACONTECENDO<br>POR AQUI.
            </h2>
            <p class="text-sm">A designer alagoana de acessórios que desde 2008 está conquistando o Brasil, também tem muito a oferecer sobre o mundo da moda, beleza, estilo de vida e alguns de seus melhores truques do dia a dia! O Instagram Da Endy é a maneira que a designer encontrou de manter contato com seus seguidores de maneira à deixá-los tão conectados ao universo de tendências quanto a ela! Siga <a href="https://instagram.com/endymesquita" target="_blank" class="underline">@endymesquita</a>
            </p>
            <a href="https://www.instagram.com/atelieendymesquita/" target="_blank"
                class="flex h-[40px] items-center w-full">
                <img src="/images/endy-signature.png" alt="Instagram Endy Mesquita">
                <img src="/images/ico-social.png" alt="Instagram Endy Mesquita">
            </a>
        </div>
    </div>
</section>