<section class="about">
    <div class="about-inner">
        <div class="about-text">
            <h2>CHEGA MAIS,<br>TEM MUITA COISA<br>BOA ACONTECENDO<br>POR AQUI.</h2>
            <p>A designer alagoana de acessórios que desde 2008 está conquistando o Brasil, também
                tem muito a oferecer sobre o mundo da moda, beleza, estilo de vida e alguns de seus melhores truques do
                dia a dia! O Instagram Da Endy é a maneira que a designer encontrou de manter contato com seus
                seguidores de maneira à deixá-los tão conectados ao universo de tendências quanto a ela! Siga
                <a href="https://instagram.com/endymesquita" target="_blank">@endymesquita</a>
            </p>
            <div>
                <button class="btn" type="button"><span class="material-symbols-outlined">favorite</span></button>
                <button class="btn" type="button"><span class="material-symbols-outlined">star</span></button>
                <button class="btn" type="button"><span class="material-symbols-outlined">apps</span></button>
                <button class="btn" type="button"><span class="material-symbols-outlined">radio</span></button>
            </div>
        </div>
    </div>
</section>