<div class="buttons-header">
    <button class="btn" type="button"><span class="material-symbols-outlined">person</span></button>
    <button class="btn" type="button"><span class="material-symbols-outlined">shopping_bag</span></button>
    <button class="btn" type="button"><span class="material-symbols-outlined">menu</span></button>
</div>