<footer class="text-black text-center bg-[#fff]">
    <div class="w-full h-[100px] flex justify-center items-center gap-14 py-3">
        <img src="/images/ico-cartoes.jpg" alt="entrega expressa para Maceió/AL" class="h-full" />
        <img src="/images/ico-compre_retire.png" alt="compre no site, retire na loja" class="h-full" />
    </div>
    <div class="w-full bg-[#F6F6F6] mb-4">
        <div class="grid gap-x-6 py-2 grid-cols-3 text-sm text-justify max-w-[960px] mx-auto">
            <div class="flex flex-col col-span-1">
                <span>© Endy Mesquita - Todos os direitos reservados. Conheça nossa Política de Privacidade.</span>
                <span>Fale conosco pelo e-mail contato@endymesquita.com.br ou telefone (82) 9.9822.8126</span>
                <span class="underline">Galeria Iate. Rua José Freire Moura, 363. Ponta Verde, Maceió-AL.</span>
                <span>C.N.P.J 15.572.240/0001-38</span>
            </div>
            <div class="col-span-1">
                <p>Os preços poderão variar durante a navegação sem aviso prévio. Pode ocorrer divergência entre o preço
                    exibido no detalhe do produto e preço apresentado na Sacola de Compras.Em caso de divergência de
                    preços
                    no site, o valor válido é o do Sacola de Compras. Todas as comunicações do site podem possuir
                    imagens
                    meramente ilustrativas.</p>
            </div>
            <div class="col-span-1">
                <img src="/images/seal-dex-verified.png" alt="este site pertence a uma empresa verificada" width="250px"
                    height="50px" />
            </div>
        </div>
    </div>
    <div class="bg-white w-full h-[80px]">
        <a href="https://dexworks.com/" class="underline text-sm">Desenvolvido por Dex Works</a>
    </div>
</footer>