<header>
    <div class="container-nav">
        <div class="image-logo">{{> logo }}</div>
        {{> searchbar}}
        {{> buttons-header }}
    </div>
    {{!-- <div class="expand-nav">
        <div class="inner-nav">
            <div class="inner-nav-btn">
                <img src="https://cdn2.iconfinder.com/data/icons/media-controls-5/100/close-512.png" alt="" />
            </div>
            <div class="inner-nav-categories">
                <div>
                    <h3>CATEGORIAS</h3>
                    <ul>
                        <li>NOVIDADES</li>
                        <li>NOVIDADES</li>
                        <li>NOVIDADES</li>
                    </ul>
                </div>
                <div>
                    <h3>CARRINHO</h3>
                    <ul>
                        <li>CADASTRO</li>
                        <li>ENTRAR</li>
                        <li>AJUDA</li>
                        <li>CONTATO</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> --}}
</header>

<link rel="stylesheet" href="/css/header.css">