<section class="mailing bg-[#D2BE9B] w-full">
    <div class="w-[960px] mx-auto flex items-center h-[160px] gap-2">
        <h4 class="text-white w-[50%] text-2xl"><span>CADASTRE-SE</span> <br>NO NOSSO MAILING E<br> <span>GANHE
                10%</span> <br>NA SUA PRIMEIRA COMPRA.</h4>
        <div class="flex flex-col gap-2 w-[50%]">
            <input type="text" placeholder="nome" class="w-[300px] h-[35px] border rounded-md px-2" />
            <input type="email" placeholder="e-mail" class="w-[300px] h-[35px] border rounded-md px-2" />
            <button
                class="text-sm w-fit border rounded-md bg-[#444444] border-[#444444] text-white py-2 px-6">CADASTRAR</button>
        </div>
    </div>
</section>

<style>
    .mailing div h4 {
        font-weight: 500;
    }

    .mailing div span {
        font-weight: bold;
    }
</style>