<div class="div-notifications">
</div>

<style>
    .div-notifications {
        width: 100%;
        height: 30px;
        background-color: #D2BE9B;
        padding: 10px;
        z-index: 20;
    }
</style>