<div>
    <h2>Área do Cliente</h2>
    <span>Olá,</span>
    <span>Faça seu cadastro para receber novidades, dicas bacanas e outras surpresinhas. É bem rapidinho :D</span>
    <form>
        <h3>1. DADOS PESSOAIS</h3>
        <label>E-mail</label>
        <input type="email" placeholder="e-mail" />
        <label>Nome Completo</label>
        <input type="text" placeholder="Nome Completo" />
        <label>DDD</label>
        <input type="number" placeholder="ddd" />
        <label>Telefone</label>
        <input type="tel" placeholder="telefone" />
        <h3>2. Senha de acesso</h3>
        <label>Password</label>
        <input type="password" placeholder="senha" />
        <label>Confirme o password</label>
        <input type="password" placeholder="Confirme a senha" />
    </form>
</div>