<div class="login-container">
    <h2>Login</h2>
    <div class="login-external-div">
        <div class="form-lg">
            <div class="form-login">
                <h3>Entre com seu e-mail e senha<br>para fazer o login</h3>
                <form>
                    <label>Email</label>
                    <input type="email" placeholder="e-mail" />
                    <label>Password</label>
                    <input type="password" placeholder="senha" />
                    <button type="submit">LOGIN</button>
                </form>
                <span>esqueceu sua senha?</a>
            </div>
            <hr />
            <div class="form-forgot-password">
                <h3>Informe seu e-mail para receber uma nova senha</h3>
                <form>
                    <label>Email</label>
                    <input type="password" placeholder="e-mail" />
                    <button type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
        <div class="novo-cadastro">
            <p>Se você ainda não é cadastrado, cadastre-se agora clicando no botão abaixo. Se você já é um usuário
                cadastrado, preencha os campos ao lado.</p>
            <a href="/cadastro">NOVO CADASTRO</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/login.css">