<div class="max-w-[960px] h-[80vh] mx-auto mt-4">
    <h2 class="text-3xl">Login</h2>
    <div class="mt-12 w-full flex justify-between gap-x-10">
        <div class="w-1/2">
            <div class="w-full flex flex-col gap-4 pr-4">
                <h3 class="text-3xl">Entre com seu e-mail e senha<br>para fazer o login</h3>
                <form class="flex flex-col gap-2 mt-2">
                    <label class="text-base">E-mail</label>
                    <input type="email" placeholder="e-mail" class="px-2 border border-gray-400 py-1 rounded-lg w-[300px]" />
                    <label class="text-base">Password</label>
                    <input type="password" placeholder="senha" class="px-2 border border-gray-400 py-1 rounded-lg w-[300px]" />
                    <button type="submit" class="btn-lg">LOGIN</button>
                </form>
                <span class="underline cursor-pointer" onclick="openForgotPassword()">esqueceu sua senha?</span>
            </div>
            <div class="w-full hidden flex-col gap-4 pr-4" id="forgot-div">
                <hr class="w-full text-black my-14" />
                <h3 class="text-3xl text-gray-800">Informe seu e-mail para receber uma nova senha</h3>
                <form class="flex flex-col gap-2 mt-2">
                    <label class="text-base">Email</label>
                    <input type="password" placeholder="e-mail" class="px-2 border border-gray-400 py-1 rounded-lg w-[300px]" />
                    <button type="button" class="btn-lg">ENVIAR</button>
                </form>
            </div>
        </div>
        <div class="w-1/2 flex flex-col gap-2">
            <p class="w-fit text-justify text-ellipsis">Se você ainda não é cadastrado, cadastre-se agora clicando no
                botão abaixo. Se você já é um usuário
                cadastrado, preencha os campos ao lado.</p>
            <a href="/cadastro" class="btn-lg">NOVO CADASTRO</a>
        </div>
    </div>
</div>

<script>
    function openForgotPassword() {
        const element = document.getElementById('forgot-div');
        if (element.style.display === 'flex') {
            element.style.display = 'none';
        } else {
            element.style.display = 'flex';
        }
    }    
</script>