/* public/css/footer.css */
.footer {
  background-color: #fff;
  color: black;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: black;
  text-decoration: underline;
  font-size: small;
}
