.login-container {
  width: 920px;
  margin: auto;
  padding: 20px;
  display: block;
}

.login-container h2 {
  margin-bottom: 10px;
}

.login-external-div {
  display: flex;
  gap: 20px;
}

.login-external-div > div {
  width: 50%;
}

.form-lg {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-login > form,
.form-forgot-password > form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.form-login h3,
.form-forgot-password h3 {
  margin-bottom: 10px;
  font-weight: normal;
}

.form-lg button, .novo-cadastro a {
  margin: 10px 0;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.form-lg input {
    margin: 5px 0px;
    padding: 5px;
}

.novo-cadastro p{
  overflow: hidden;
  text-wrap: wrap;
  margin-bottom: 15px;
}